[2015-03-24 05:22] txchen opened #1 "Add proxy feature"
Handle the not found, and proxy to upstream.

Use case:
A golang project that has a static http server folder, the js calls the API served from golang.
light-server can host the static folder, let's say: http://127.0.0.1:10000, if not found, for example, http://127.0.0.1:10000/api/ping, light-server detects the 404 and proxy it to http://127.0.0.1:20000/api/ping

The golang server listen on port 2

[2015-04-05 20:32] txchen opened #2 "Add reload css feature"
Css reload does not need to refresh the page.

Like https://github.com/tapio/live-server/blob/master/index.js

[2015-04-15 05:07] txchen commented on #1
Done

[2015-04-15 05:07] #1 closed

[2015-04-15 05:59] txchen commented on #2
client js part added, now need to find a way to watch and trigger reloadcss.

[2015-04-16 05:29] txchen commented on #2
shipped with 1.0.0

[2015-04-16 05:29] #2 closed

[2015-12-01 18:46] joelcollinsdc opened #5 "changeOrigin true"
I'm totally new to this, apologies if I'm off base.

I'm trying to use light-server to proxy to something thats non-local and needs a host header to work.

<code>
light-server -x http://fake.example.com
</code>

However, the responses i'm getting appear as though the web server isn't receiving the host header fake.example.com (just a request on the IP address)

This doesn't work unless I hack prox

[2015-12-01 19:10] txchen commented on #5
@joelcollinsdc thanks for reporting this! It looks like a bug, I will look into this soon.

[2015-12-01 19:18] txchen commented on #5
@joelcollinsdc I changed to use changeOrigin: true, and published 1.1.1
Thanks again!

[2015-12-01 23:00] #5 closed

[2015-12-11 15:31] joelcollinsdc opened #7 "RC file?"
We are using this (amazing) tool on a shared development environment (ugh) where people have to remember to specify the correct IP and port combination for it to work.  I was wondering, do you think it woudl be a good idea to support some kind of ~/.light-server.rc file configuration which would be used as defaults for the user so they don't have to specify certain flags over and over?  This also

[2015-12-11 18:26] txchen commented on #7
@joelcollinsdc That's a nice idea, I will try to implement this. Thanks!

[2016-01-21 04:47] eliot-akira opened #8 "Silent / less verbose mode"
Would it be possible to add an option for less or no console messages?

Thank you for the versatile tool, I just reduced a folder full of gulp tasks to a few lines of npm script and am quite happy about it.

[2016-01-21 15:12] txchen commented on #8
@eliot-akira Thanks for the suggestion, I will take a look.

[2016-01-22 05:53] eliot-akira commented on #8
I imagine it's a matter of wrapping all `console.log()` to be conditional. If it's too tedious, please feel free to disregard the idea. The messages are actually helpful to see exactly what's happening - I followed along by reading the code, and I love how concise it is. Anyway, my thought was that it might be nice to have a quiet mode, maybe with a single message: `light-server is listening at ht

[2016-01-22 07:06] txchen commented on #8
@eliot-akira currently it would print http request, file changes, and command executed.
Which parts do you think should be optional?

I want to know more about your motivation: typically when you run the server, other than the light-server's output, what do you expect to see on the console?

[2016-01-22 08:56] eliot-akira commented on #8
What I imagine is a silent mode with a single line from light-server with the host and port. So, no console output for each http request, file changes, or command executed. Then, on file change, the executed commands will display their own messages.

[code]

[2016-01-22 19:32] txchen commented on #8
1.1.3 published to npm, please verify if it works for you.
Thanks for the PR, really appreciate it!

[2016-01-22 19:32] #8 closed

[2016-01-23 06:25] eliot-akira commented on #8
That's excellent, I confirmed that it works perfectly.

Thanks so much for such a useful well-written tool. It's great that the codebase is so compact and approachable, I learned a lot from studying how it works. I'm moving all my projects to use light-server in the build process, it does everything I need with minimum setup. Bravo!

[2016-01-26 01:27] txchen commented on #7
@joelcollinsdc Implemented in 1.1.5, please help to have a try, thanks!

[2016-01-26 01:27] #7 closed

[2016-03-10 13:43] aemkei opened #13 "Proxy Paramenter not Working"
When passing `-x` or `--proxy` parameters to the CLI, it will be ignored.
Looks like the arguments are not passed correctly.

[2016-03-10 19:06] #13 closed

[2016-04-30 16:27] Scarysize opened #15 "HTTP2 Support"
Hey, have you thought about adding http2 support? Would be nice to play around with. Just asking for an opinion on that.

Feel free to close this.

[2016-05-02 05:10] txchen commented on #15
@Scarysize I am now using connect to server http, if connect can support http2, I can definitely look into it to see how to enable it in light-server. Otherwise, it's not in my plan currently.

BTW, just curious, could you please tell me why do you think http2 in dev mode is important to you?

[2016-05-02 06:09] Scarysize commented on #15
I think it would be nice to simulate a http2 environment to play around with. Testing how a unbundled app would behave, server-push etc. All this without setting up a "real" http2 server.

As far as I can see it `connect` is just a listener which will be passed into a node http server. I guess you could just switch the http server for a http2 server and attach the same listener.

Here is a static

[2016-05-02 16:56] txchen commented on #15
Thanks! I will take a look.

[2016-05-05 14:55] Scarysize opened #16 "Add example"
Hey,
would you be interested in adding a example to this repo? If so, I would open up a PR.
I have a simple example stack in mind:
- Jade Templates (now called `pug`)
- Stylus CSS
- ES5 JavaScript, bundled with `browserify` and transpiled with `babel`
- Some image assets

[2016-05-05 16:07] txchen commented on #16
@Scarysize thanks for the idea! Please help to open up a PR since I don't have an example as comprehensive as yours :)

[2016-05-05 16:33] Scarysize commented on #16
Basically I would add my boilerplate project as an example:

https://github.com/Scarysize/pug-stylus-es5-boilerplate

[2016-05-05 17:00] txchen commented on #16
Great, just FYI, light-server now support config file.
I noticed that your npm script is long because it is doing a lot of things, do you think it would be better to use config file instead?

[2016-05-05 17:04] Scarysize commented on #16
Oh I didn´t know that. Yes I would definitly use a config file instead. I will update my project, then submit a PR

[2016-05-07 10:16] Scarysize commented on #16
See #17

[2016-05-07 17:30] #16 closed

[2016-05-27 07:55] Scarysize opened #18 "Feat: 'no-reload' option"
Hey,

I thought it would be helpful to have an option for watch tasks to not trigger a browser reload after running the configured build task. I wanted the `reload` action to still be the default, so I have to explicitly tell the watcher to not trigger the reload.
I did this by adding a `no-reload` option for watch tasks. Take a look here at my fork:

https://github.com/Scarysize/light-server/pull

[2016-05-28 23:25] txchen commented on #18
@Scarysize thanks for the idea, really appreciate it! Please send a PR.

[2016-05-29 09:06] Scarysize commented on #18
If fear adding to much options to this, ruining the whole "light" aspect. But I guess this is a viable feature, though I would stop adding more possible configuration in order to keep this easy-to-use (yeah I´m looking at you webpack). :-)

[2016-05-29 09:06] #18 closed

[2017-01-13 20:04] txchen commented on #15
Sorry I forgot this issue until someone sent me a PR today.
http2 mode is implemented in https://github.com/txchen/light-server/commit/ba37170aa5a41f878fcaa0a5c8d56effa61af005

I end up using `spdy` as it can support connect/express very well.

[2017-01-13 20:05] txchen commented on #15
published 1.1.9. Close this and thanks a lot for the proposal!

[2017-01-13 20:05] #15 closed

[2017-01-14 07:19] Scarysize commented on #15
@txchen Nice, I totally forgot about this issue, too. Thanks for the implementation!

[2017-01-19 08:14] Scarysize opened #22 "v1.1.9 introduced breaking changes"
The release v1.1.9 introduced breaking changes (https://github.com/txchen/light-server/commit/eee02a4a17124ce05d83e3e4e4b4641935fa7243), so the version should be bumped to `2.0.0` (major). Otherwise a simple `npm install` will get you a version which is incompatible with your current `.lightrc` file.

[2017-01-19 19:38] txchen commented on #22
thanks! I will try to handle it.

[2017-01-20 00:49] txchen commented on #22
Fixed by publish 1.1.10 and 2.0.0.

[2017-01-20 00:49] #22 closed

[2017-01-20 06:18] Scarysize commented on #22
👍 Thank you!

[2017-04-08 17:54] aves84 opened #23 "bind address"
Hello!

I tried to use with Docker, and couldn't connect. As far as I found out, the reason is that server is bound to the address 127.0.0.1.

I have fix this by specify `-b 0.0.0.0` or `-b "`. In this case the connection is set.

But I think it's worth to set the default address to `null`.

[2017-04-25 22:22] txchen commented on #23
@aves84 IMHO, bind to 127.0.0.1/localhost is widely used in most of the server softwares (like express, koa), as default value. Since we already have the -b switch, seems it is not blocking you:)

So I am closing this issue.

[2017-04-25 22:39] aves84 commented on #23
It is not correct, experss by default as node http server used exactly undefined/null and binds to 0.0.0.0, netstat output for example: `tcp6       0      0 :::3000                 :::*                    LISTEN      20854/node`

[2017-04-25 23:09] txchen commented on #23
Thanks for the info, I will check it.

[2017-04-30 14:19] txchen commented on #23
Updated in 2.0.2.
Thanks @aves84 again!

[2017-04-30 14:19] #23 closed

[2017-07-07 06:37] vkrepkiy opened #25 "SPA support"
May you add support for SPA applications with single entry point? Now if you route to http://localhost/router/path it returns static (404) and proxy is no help. I've quickly [forked](https://github.com/vkrepkiy/light-server/commit/) light-server, but it'd be nice to see an option like { "spa" : "entryPoint.html"} in the main distr.

[2017-07-07 19:20] txchen commented on #25
good suggestion, I will take a loot to see if it is easy to implement. Thanks!

[2017-07-11 16:04] paullarionov opened #26 "What is about PROD?"
Hello! I use light-server for development and it is brilliant, but what should I use for PROD? How could I replace light-server?

[2017-07-11 16:43] txchen commented on #26
@paullarionov no, I don't think this can be a good choice for prod :)
I personally choose caddy. Nginx is also great, of course.

[2017-07-11 16:43] #26 closed

[2017-07-23 23:15] tohagan opened #27 "Request to support -o option to open a browser"
Love this nice mini server. I endorse it on [Stack Overflow](https://stackoverflow.com/questions/6084360/using-node-js-as-a-simple-web-server/23122981#23122981).

My one wish is that it lacks a `-o` option to open the browser.
I'm so used to having this with http-server ... so I miss it badly.
It's dead easy to do using [`opener`](https://www.npmjs.com/package/opener).

[2017-07-24 23:21] txchen commented on #27
@tohagan thank you! I will try to implement it when I have time.

[2017-07-25 06:39] txchen commented on #27
@tohagan would you please try v 2.1.0? Let me know if it is working well for you or not, thanks!

[2017-07-26 17:20] txchen commented on #25
@vkrepkiy implemented in 2.2.0, please help to have a try. Let me know if there are issues.
Thanks again for the suggestion!

[2017-07-26 17:20] #25 closed

[2017-07-26 17:20] #27 closed

[2017-07-28 08:01] tohagan commented on #27
Will do!

[2017-07-28 08:15] tohagan commented on #27
I found a problem ... If you use the default hostname it's 0.0.0.0 which your browser typically won't open (tested on Chrome/Windows).  You can easily fix this by specifying the host name to be localhost (which won't bind all ports) BUT ... your example of the `-o` in the help documentation does not show this so this example won't work.

[2017-07-29 05:09] txchen commented on #27
I can confirm that 0.0.0.0 works on MacOS. By default, nodejs http.server.listen listens on unspecified which is 0.0.0.0 for IPv4.

I will check on windows.

[2017-07-29 05:18] txchen commented on #27
Tried on windows, 0.0.0.0 is not working, let me add a hack for windows.

[2017-07-29 05:25] txchen commented on #27
2.2.1 published.

[2017-08-14 14:10] Alex-Intection opened #28 "New file added does not trigger reload"
Hello.
First of all, you have an awesome package... the best and most useful live reload package + server.
But unfortunately there is a small inconvenience.
If someone adds a file that is matched by the glob package and your server is already running, the reload is not triggered. Is this by intention?

Thank you very much.

[2017-08-14 14:26] txchen commented on #28
@Alex-Intection First of all, thanks for the kind words!

I think you are right, this should be a bug. Let me try to figure out how to fix it. Thanks for the issue!

[2017-09-01 02:44] lwchkg commented on #28
How about using https://github.com/paulmillr/chokidar instead of the fs.watch?

[2017-09-01 02:48] lwchkg opened #29 "Feature request: optionally execute watch trigger at startup"
As title. I suggest using the switch `-W` (compared to `-w`) to state a watch that will be triggered unconditionally at startup, so we can build the site by starting light-server.

[2017-09-01 07:45] Alex-Intection commented on #28
https://github.com/shama/gaze has less dependencies... if this is an issue.

[2017-09-01 11:11] richterdennis opened #30 "Feature request: HTTPS"
It would be nice if you can start a https light server.

[2017-09-01 11:25] richterdennis commented on #30
I overlook http2, sorry

[2017-09-01 11:25] #30 closed

[2017-10-06 15:28] fetis opened #31 "Missed example link in the READ.ME"
Points to https://github.com/txchen/light-server/blob/master/example which is not available anymore. I think it needs to be replaced to http://github.com/txchen/light-server/blob/master/examples/example1/.lightrc

[2017-12-08 10:13] MikeDabrowski opened #32 "multiple proxypaths"
Hi, is there a way to set multiple proxy paths (array) ?
Something like:
[code]

[2018-01-31 05:56] txchen commented on #31
Fixed, thanks a lot!

[2018-01-31 05:56] #31 closed

[2018-01-31 06:03] txchen commented on #32
@MikeDabrowski The current proxy logic is: if static serve cannot find the resource, instead of returning 404, it will fallback to proxy url.

So for your example, you don't need to specify the path list and it should still work.

I think anyway you will not have static resources and API path share the same path. So, is this still a problem?

[2018-01-31 06:09] txchen commented on #29
@lwchkg Thanks for the suggestion and sorry for being so late to respond.

`-W` can work, however I think the .lightrc should also be supported. So how about this:

If the command (2nd part of the expression) starts with `!`, like `!npm run build`, then it would be executed when light-server is started. In this way, we don't need to introduce a new field in config file.

Let me know what do you th

[2018-01-31 07:14] txchen commented on #28
gaze looks promising, I will try to use it to replace my own dead simple watcher.

[2018-01-31 07:40] txchen commented on #32
@MikeDabrowski sorry, I almost forgot I added --proxypath myself, because of the SPA mode, LOL.

So I guess this is a valid use case, I will think about implementing it.

[2018-01-31 10:27] MikeDabrowski commented on #32
It is not the problem at the moment. I needed that to test my app locally with all its features. I used xampp in the end.
I think it would be nice to have that option.

[2018-01-31 18:12] txchen commented on #32
Implemented in 2.3.0.

[2018-01-31 18:12] #32 closed

[2018-01-31 19:31] txchen commented on #28
Implemented in 2.4.0

[2018-01-31 19:31] #28 closed

[2018-03-20 11:28] gkalpak opened #35 "Allow disabling live-reloading"
More specifically, I want to be able to prevent the HTML content from being altered while serving.

Most of the time I love watching+live-reloading, but in some specific cases I want to prevent the served content from being altered:

https://github.com/txchen/light-server/blob/0b76abaf386b438433eb7475ae6352e4fc6c4fad/index.js#L56

Sounds like a straight forward enough feature. Happy to submit a pu

[2018-03-21 05:56] txchen commented on #29
Close this since no response.

[2018-03-21 05:56] #29 closed

[2018-03-21 06:06] txchen commented on #35
Thanks for the issue. I'd like to understand your problem better:

If we don't inject the html, we cannot get browser auto reload. Does that mean you will manually reload the page? If that's the case, what value can light-server bring?

[2018-03-21 07:38] gkalpak commented on #35
Yes, in these specific cases (where I don't want the HTML tampered with), I will have to manually reload.
`light-server` will be used for easily serving a directory, on a specific port, with 404 fallback index.

(Right now, I use `light-server` most of the time, but have to switch to a different server (which doesn't support `historyindex` :cry:) for testing the ServiceWorker. It would be nice if

[2018-03-21 16:08] txchen commented on #35
Got it. If you could send a PR, we can continue the discussion from there, does that sound good?

[2018-03-22 16:44] #35 closed

[2018-04-17 06:09] isZZ opened #37 "Problem with truncated watch value"
Hi and thanks for the very useful project,

when I use the -watch option from the example copied below in my package.json, it seems to result in the watch option value that is passed to the LightServer server function in index.js being truncated.

I'm expecting this  'src/**/*.html # npm run build:js #' but seem to be getting this '\'src/**/*.html', resulting in the files not being watched. I can

[2018-04-17 08:27] isZZ commented on #37
@txchen It seems this is a npm and windows problem with nested single quotes. An escaped version with double quotes or the quotes removed seems to fix the problem e.g.

-w \"src/**/*.html # npm run build:js #\"
-w src/**/*.html # npm run build:js #

More info here
https://www.npmjs.com/package/cross-env

Although it's not your issue it may be be worth adding a line to the README.

Thanks again

[2018-05-08 23:42] sanchopancho13 opened #38 "--servePrefix and --open"
The --open option opens a browser with a root path.  However, when using the --servePrefix option, the files are served from a different path.  Can these two options work together?  When using the --servePrefix it would be nice if --open opened directly to that path.

[2018-05-09 02:49] txchen commented on #38
sounds like a bug, will take a look.
Thanks for opening this!

[2018-05-10 19:40] txchen commented on #37
I evaluated the possible fix for single quotes on windows, I thought it will not be a perfect idea because it cannot deal with some edge cases.
So instead, I will update the doc, to ask users to use double quotes.

[2018-05-10 19:47] txchen commented on #38
Fixed in 2.5.1.

[2018-05-10 19:47] #38 closed

[2018-05-10 19:47] txchen commented on #37
Thanks again! I am closing this.

[2018-05-10 19:47] #37 closed

[2018-06-02 02:57] br0wnie opened #39 "[Question/Request] Any way to enable brotli and gzip compression?"
Is there a way to use a [brotli module](https://www.npmjs.com/package/iltorb) and a [gzip module](https://www.npmjs.com/package/compression) with light-server? Light-server is amazing, and I was hoping for a way to add brotli and gzip compression for testing, but have no idea how to do it.

So if there isn't a way to already do that with light-server, I guess this is a request? Either way, thanks

[2018-06-02 03:55] txchen commented on #39
@br0wnie light-server is mainly used in development time, not designed for prod environment, so I'd like to know the reason why you think compression is important. Could you please elaborate?

[2018-06-02 04:09] br0wnie commented on #39
It probably isn't important, I'm pretty new to all of this and mostly wanted to see the effects of compression on my files. I don't have a production environment, just my localhost setup right now. I figured I'd ask just in case!

[2018-06-02 05:12] txchen commented on #39
I see, thanks for the information:)

In that case, I suggest you setup a prod-like environment for that kind of verification. Pick a mature http server like nginx or caddy, I personally don't suggest doing content compression in js layer.

[2018-06-02 05:12] #39 closed

[2018-06-29 15:40] Alex-Intection opened #40 "ERR Connection refused"
Hello,

did you experience any connection refused errors in the last days, due to CORS / cross origin headers?
Without them, all browsers stopped working with websockets a few days ago.

Dont't know if it's just my system, or i misconfigured something. But its not working anymore.
Just wanted to inform you in case you experience similar issues.

Thanks a lot.

Alexander

[2018-06-29 15:42] txchen commented on #40
@Alex-Intection no, I haven't updated this for a while.
Please help to share your version, your npm lock file, your config, or detailed repro step, so that we can take a deeper look.

[2018-08-23 18:58] gkalpak opened #41 "Redirecting extension-less paths to trailing `/`"
By calling `serveStatic` [without specifying a `redirect` option][1], `light-server` "inherits" the default `serveStatic` behavior for [redirect][2], which is to _"redirect to trailing '/' when the pathname is a dir"_.

By "is a dir", they mean "does not contain an extension (e.g. `.html`).

##
This was breaking some tests for me, where I was comparing against the browser URL against a know value

[2018-08-23 19:42] txchen commented on #41
@gkalpak Thanks for the issue, though I don't think I fully understand your point.
Would you please help to provide an example and the desired behavior? That might help.

[2018-08-23 19:47] gkalpak commented on #41
Sorry for not being clear.  What I meant is:
When I navigate to `http://localhost:4000/foo`, I get redirected to `http://localhost:4000/foo/` (notice the trailing slash). That's what I want to avoid.

[2018-08-24 03:03] txchen commented on #41
Got it, I will take a look.

[2018-09-06 17:53] gkalpak opened #42 "Feature request: List directory contents"
It would be if `light-server` could (either by default or with an option) serve directory listings.
As mentioned in expressjs/serve-static#67, `serveStatic` (which is what `light-server` already uses) can be [combined with `serveIndex`][1] to achieve that.

[1]: https://github.com/expressjs/serve-index#serve-directory-indexes-with-vanilla-nodejs-http-server

[2018-10-19 06:31] txchen commented on #42
Thanks for the suggestion! Added in https://github.com/txchen/light-server/commit/3f475fba3f4558fcabc3bfbd4ed09c44ba36e2f4

[2018-10-19 06:31] #42 closed

[2018-10-19 06:32] txchen commented on #40
Close this as it is not active.

[2018-10-19 06:32] #40 closed

[2018-10-19 06:41] gkalpak commented on #42
:tada: :heart:

[2018-10-19 06:41] txchen commented on #41
I am actually not seeing redirect, when SPA mode is used (historyindex). But I agree with you @gkalpak  it should be redirect: false.

[2018-10-19 06:43] txchen commented on #41
https://github.com/txchen/light-server/commit/1504422a35421c8f5343cbc87b5c78e132a31cf6 Please verify if this change fixes your issue or not, thanks!

[2018-10-19 06:43] #41 closed

[2018-10-19 10:06] gkalpak commented on #41
Thx for making the change, @txchen ❤️

I was trying it out and I realized that I actually only get the extra `/` when I use `--historyindex /` (which I am using as a shorthard for `--historyindex /index.html` - and it works fine btw :grin:).
I tried applying `{ redirect: false }` [here][1] as well and - while it avoids the extra `/` - `--histroyindex /` stops redirecting to `/index.html`.

Not sur

[2018-11-07 15:44] zeg-io opened #43 "Proxy path issue"
I have a UI (react) and an API (node).  The node server is on port 3100 and responds to queries to `/v1/find/SERVERNAME/SERIAL` where servername and serial are variables.

The react API calls `/api/v1/find/SERVERNAME/SERIAL`

When I hit any of the APIs `/api/auth` or the above I see a 404 listed and the traffic keeps the `/api` folder structure.  Is there a way to have `/api/` forward traffic to t

[2018-11-07 19:07] txchen commented on #43
Just curious, how do you plan to run your project in prod environment?
How do you plan to make the proxy logic to do the redirection to trim the `/api`?

light-server is only designed for dev-time, so I assume you need to do the same logic with some other tools.

[2018-11-09 16:50] devinrhode2 opened #44 "Disable cache?"
I'm just wondering how I could ensure the caching is disabled?

[2018-11-09 22:19] txchen commented on #44
You can disable cache in chrome dev tool, does that work?

[2018-11-09 22:20] devinrhode2 commented on #44
Some people reviewing my work are not technical :(

On Fri, Nov 9, 2018, 4:19 PM Tianxiang Chen <notifications@github.com wrote:

[2018-11-09 22:21] devinrhode2 commented on #44
I have light server being broadcasted from a spare laptop via localtunnel

On Fri, Nov 9, 2018, 4:20 PM devin rhode <devinrhode2@gmail.com wrote:

[2018-11-10 05:14] txchen commented on #44
I see. I assume the cache you mentioned is made by serve-static, which is usually keyed by etag, if the file content changed, the client should download the new content in theory.

May I know why the cache is blocking your work?

[2018-11-12 18:40] devinrhode2 commented on #44
Ok, issues were definitely caused from my inexperience with a new mercurial
tool

Updating files seems to break the cache

-Devin <http://devinrhode2.github.io>
<http://devinrhode2.github.io/>

On Fri, Nov 9, 2018 at 11:28 PM devin rhode <devinrhode2@gmail.com> wrote:

[2018-11-28 13:46] simonedavico opened #45 "PATCH/PUT requests always return HTTP status 405"
With the latest version of light-server (2.6.0) `PUT` and `PATCH` requests (I did not have the chance to try `POST` requests) always return a `405` status code.

The same does not occur with the previous release, 2.5.1.

In case it may be useful, I am proxying requests to `/api` to an external URL, like so:

`yarn light-server -s build -p 3000 --historyindex '/index.html' -x http://localhost:8080

[2018-11-28 13:49] papasmurf17 commented on #45
I've the same issue

[2019-03-06 22:32] don-p commented on #45
+1

[2019-03-15 23:03] #44 closed

[2019-03-15 23:07] #43 closed

[2019-03-15 23:30] txchen commented on #45
Thanks for the issue. Fixed in light-server@2.6.1

[2019-03-15 23:30] #45 closed

[2019-03-25 09:02] pwrinc opened #46 "usage of --proxy param in cli breaks static file resolution"
Hi, with the latest version of `light-server` (`2.6.1`) I'm facing an issue when using the `--proxy` parameter:

Assuming the following file structure:
[code]

Starting `light-server` with `light-server -s public/ --proxy https://github.com` and calling `localhost:4000/index.html` does NOT return `index.html` from local folder `public`. Instead it logs a `502` code and proxies the request to `gith

[2019-03-25 09:18] hrbu commented on #46
+1

[2019-03-26 03:33] txchen commented on #46
Thanks for reporting! My last change should be related, I will take a look!

[2019-03-26 07:22] jtrs commented on #46
+1

[2019-03-31 05:40] #46 closed

[2019-03-31 05:42] txchen commented on #46
Made a fix in 2.6.2, could you please help to verify? Thanks!

[2019-03-31 20:47] pwrinc commented on #46
Seems to work now. Thanks!

[2019-05-03 16:52] frehner opened #48 "dependency spdy breaks on node >= 11.1"
This package breaks on node >= 11.1 because the `spdy` dependency depends on `handle-thing` which has a bug.

https://github.com/spdy-http2/node-spdy/issues/350

https://github.com/spdy-http2/handle-thing/issues/6

[2019-06-27 17:07] fidian opened #49 "MIME types incorrect for livereload.js"
When getting the JavaScript to kick off the live reload of the page, the response does not have a `Content-Type: application/javascript`. This is causing a problem when I'm trying to use the live reload functionality with Chrome, which has strict MIME type checking enabled. I believe the fix to this would be to just change the line that serves the JavaScript. This worked for me.

    // old
    re

[2019-06-28 18:44] txchen commented on #49
Thanks! @fidian  I will try to fix this.

[2019-07-11 05:26] #49 closed

[2019-07-12 14:54] fidian commented on #49
Thanks!

[2019-08-22 08:07] MelodicCrypter opened #50 "Triggers reload for HTML but does not reflect change"
Actually, everything is working perfectly, and it also triggers reload whenever I hit save, but the changes I made inside HTML does not reflect in the browser. By the way, I'm using google's Workbox for PWA features.

[2019-08-22 11:23] txchen commented on #50
@MelodicCrypter mind sharing an example to repro this?

[2019-08-22 11:55] MelodicCrypter commented on #50
@txchen thanks for response. Here's my final repo [EWWB](https://github.com/MelodicCrypter/Express-Workbox-Webpack-Babel-Scaffold) which also serves as reprod for this issue, cause I have no other option but push it and use LS as my final tool (for static reload). **Light-Server** is awesome by the way! I used Browser-Refresh and Browser-Sync, but I find Light-Server to be fast and easy to use.

J

[2019-08-27 18:39] adueppen opened #51 "Config option to block certain files"
I've been using light-server for a website that has a service worker, and so far my best option has been to comment out the registration in my JS whenever I need to test. This isn't ideal, so it would be nice to have a config option to not load certain files, something along the lines of this:
[code]

[2019-08-28 18:36] rijkvanzanten opened #52 "Serve index.html from folder"
Hi there!

Thanks for providing such an amazing useful little server ❤️

In my website, I have a lot of instances where a page is "prefixed" in a folder, in order to have a pretty URL structure, for example:

[code]

Right now, navigating to `/about` will cause `light-server` to return the formatted folder contents. Is there any way it can return the `index.html` file in this case? 🙂

[2019-08-29 23:09] rijkvanzanten commented on #52
![](https://media.giphy.com/media/ADr35Z4TvATIc/giphy.gif)

It only works when you have a trailing `/` in your link! (Derp)

My bad 🙂Hope you have a good day / night / week / month / year!

[2019-08-29 23:09] #52 closed

[2019-09-04 19:38] arlac77 opened #53 "proxy + history do not play well together"
when using --historyindex  and --proxypath (-x) together requests are handled by history first
only the ones not accepted are passed to the proxy handler.
If the order would be the other way around the --proxypath filtering would make more sense

[2019-09-06 22:25] txchen commented on #51
@adueppen I took a look at the packages I am using to serve static, `serve-static` and `send`. They have no options to enable this feature, so this will be not trivial to implement.
PR is welcome if you figure out an easier way to this.

[2019-09-06 22:25] #51 closed

[2019-09-06 22:48] txchen commented on #50
@MelodicCrypter I took a look at your repo, and I can repro your issue.
However I think the root cause is in the service worker cache, the livereload.js lightserver injected works as expected. When you hit the save the first time, it reloads but the cache is still the old version, after this request, it will load the new version, but not updating the page. Then you save again, it shows the cache a

[2019-09-15 05:36] #50 closed

[2019-09-15 05:52] #53 closed

[2019-10-08 20:26] illycz opened #55 "Remote access"
Is it possible access address from other device like within Browser Sync?

Thanks

[2019-10-09 04:59] txchen commented on #55
It is now default bind to 0.0.0.0, so remote device can access the service.

[2019-10-10 07:18] illycz commented on #55
Thanks for reply. I'm on same wifi, run my server and I can't access it from my phone on 0.0.0.0 or 0.0.0.0:port-number

Any suggestion?

[2019-10-10 19:56] txchen commented on #55
On your phone you need to use your computer's ip to access, and you need to make sure no firewall is blocking the traffic on your computer.

[2019-10-10 19:56] #55 closed

[2019-10-10 20:03] illycz commented on #55
Hm computers's ip with or withoup port not working.
`The requested URL / was not found on this server.` :(

[2019-10-10 20:05] illycz commented on #55
When I shut down MAMP, Safari can't  access to server...

[2019-10-10 20:32] txchen commented on #55
I think this is not a light-server issue. You can try using other http server, for example, `python3 -m http.server` to test as well.

[2019-10-10 20:36] illycz commented on #55
But when I'm using browser-sync on other project, everything working as expected...

[2019-10-10 20:40] illycz commented on #55
python server also working 🤷‍♂️

[2019-10-10 20:43] illycz commented on #55
Sorry my fault, this is not my project and there was config file within different binding option. Now everything is working.

Thanks for your time!

[2019-11-12 11:40] martindzejky commented on #46
This is still broken in `v2.6.4` 😞

[2019-12-01 00:17] richardgazdik commented on #28
Same thing happens when you create a new folder and add a new file to it.
Eg. I have the following watchexp: `src/**/*.scss # npm run styles:dev # reloadcss` and when I create a new folder inside `src/components/` and add new file there `src/components/buttons/buttons.scss` the bounded command is not triggered.

[2019-12-06 10:22] G100g opened #56 "Redirect when using servePrefix"
Hi,
 first thank you for your package. Very useful.

I'm using `servePrefix` option to serve my dev environment under the subpath, like in production.

Could be very useful to create an automatic redirect from `http://localhost:4000` to `http://localhost:4000/subpath/`

Let me know if I can submit a PR for that.

Best

[2019-12-07 02:13] txchen commented on #56
@G100g What if we print `http://localhost:4000/subpath/` on the console output, and you can click the link to open it?

[2019-12-10 15:24] sookoll opened #57 "Proxy custom headers"
Is there a way to add headers within proxy request? I have situation where I need to send cookie, without it I can't access to proxy server.

[2019-12-10 17:52] txchen commented on #57
Could you set the cookie in your browser in this case? The proxy should forward it.

[2019-12-11 10:15] G100g commented on #56
Hi @txchen , sorry for delay.

For sure this will help, but actually our console output contain also webpack logs, so the information about the server url is lost during the development.

A redirect will help.

Something like this
[code]

Let me know if is feasible for you and if i can sent you a PR.
Best

[2019-12-11 10:20] G100g opened #58 "redirect option for serveStatic"
Hi,
 we'd like to enable redirect from `/my/path` to `/my/path/`

I see that the `redirect`option on `serverStatic` is set to false.

Do you think this could be ad option we can set from the config file?

Thank yout

[2019-12-11 14:58] sookoll commented on #57
Yep, that worked. Thanks.

[2019-12-11 14:58] #57 closed

[2020-03-22 14:02] waveiro opened #62 "Add a negate example for WatchExpression"
I just wanted to start saying thanks for this amazing project.

Ligth-server uses Gaze to handle the watch on the files specified on the -w/--watch parameter.

And Gaze does offer a negate pattern which can be useful on various situations. For example what happened to me was that I needed to watch all the files except one that was generated by a build command. However this causes a endless loop, b

[2020-05-26 16:46] alexpeattie commented on #58
Yes, it would be wonderful if this was configurable ☺️

[2020-06-08 00:05] txchen commented on #48
Latest handle-thing should have fixed the issue, dep updated.

[2020-06-08 00:05] #48 closed

[2020-06-08 00:25] txchen commented on #62
Thanks @waveiro ! This is useful, I added to the readme.

[2020-06-08 00:25] #62 closed

[2020-06-08 00:38] txchen commented on #58
Thanks @G100g for the suggestion! Added in 2.7.0, currently only supporting it through rc file.

[2020-06-08 00:38] #58 closed

[2020-06-08 00:39] #56 closed

[2020-06-22 03:41] G33kNoob opened #65 "not auto reload"
im trying use light-server put index.html + style.css
after i edit css the page not autoreload

[2020-06-22 15:57] txchen commented on #65
Do you mind sharing your project files or a repro step?

[2020-07-24 03:11] xinxilas commented on #65
Me too..

Simple as that
desktop folder:
-index.html
-javascripts.js

Run
light-server -s . -p 80 -o -b 127.0.0.1

html
[code]
javascript
[code]

I want to reload when ichange javascript.js
But it doesn't work on .html neither

[2020-07-28 14:03] txchen commented on #65
@xinxilas you need to use `-w, --watchexp <watch expression>` to specify the files to watch.

[2020-07-28 14:03] #65 closed

[2020-09-24 13:55] justphil86 opened #70 "No browser reload after file change"
Hi,

Ijust wanted to try out light-server because it seems to be exactly what I was looking for.

I have the following directory "client" which is perfectly served by running

`light-server --serve client --port 4447 --watchexp "data.json`:
![files](https://user-images.githubusercontent.com/3744655/94152186-9441e380-fe7b-11ea-9562-3e9de737c2e5.png)

- Log also says:
[code]
- When I open a browser

[2020-10-01 22:35] Kehino commented on #70
Confirmed on Chromium (Raspbian) and Firefox (Windows). In my case, it's about a `*.scss` file not being reloaded.
`light-server` watcher finds out that the file was changed and performs the CSS building I gave, `reloadcss` then triggers with no effects (F5 does the job, of course).

Operating System: Raspbian GNU/Linux 10 (buster)
Browser: Chromium 78.0.x
npm: 6.14.8
Node: v12.18.4

Operating Sys

[2020-10-12 14:24] tnarik opened #71 "Add support for 2KB keys or configurable ones"
Hi,

Would it be possible replacing the 1KB keys by 2KB keys to better support some Linux distribution recommendations related to security?
Alternatively, please offer configuration options to support easy replacement of the default self signed certificate.

[2020-10-16 16:45] txchen commented on #71
Thanks for the suggestion. To confirm, are you referring to `localhost.key/crt`?

[2020-10-16 17:13] tnarik commented on #71
Yes. Exactly those files. We had to overwrite them in the module itself to
allow usage on a Linux box, but that is a bit untidy.

On Fri, 16 Oct 2020, 6:45 pm Tianxiang Chen, <notifications@github.com>
wrote:

[2020-10-17 00:16] txchen commented on #71
updated the cert to 2KB, in 2.9.0

[2020-10-17 00:16] #71 closed

[2020-10-17 00:25] txchen commented on #70
I cannot repro this on my MacOS, when it detects file change, it will print something like this:

[code]

Are you seeing this?

[2020-11-25 15:17] legoheld opened #72 "Proxy changeOrigin"
I tried to dockerize the light-server so i can run it with docker-compose next to my backend application.
For that I created a simple Dockerfile:
[code]

And a corresponding `docker-compse.yml`:
[code]

This works except the [proxy setting `changeOrigin`](https://github.com/txchen/light-server/blob/04f0e2aa7e2657a8507a92920204c8d069c28f4b/proxy.js#L10). This will rewrite all path to http://app...

[2020-12-05 23:28] DarioDomiDE opened #74 "Get /js files not allowed"
Hello @txchen ,

First of all, thanks for this project. Works really simple! :)
I want to use `light-server` for a simple static website with some js-files. When starting the `light-server -s . -b 127.0.0.1 -p 8080 -o` I can access `/img` files, `/css` files, but no `/js` files, because it results to a result: `Cannot GET /js/filename.js`. I think, this is not a bug, but a "feature" to prevent acc

[2020-12-05 23:29] DarioDomiDE commented on #74
Works. My fault, my file was wrong.

[2020-12-05 23:31] #74 closed

[2020-12-05 23:32] DarioDomiDE commented on #74
Sorry my fault. Works, Had a programming issue.

[2021-03-07 03:09] ramonGonzEdu commented on #70
make sure you are open on the webserver and not just the fule

[2021-04-01 18:57] milahu opened #80 "light-server is not light at all"
580 KB https://bundlephobia.com/result?p=light-server@2.9.1
38 KB https://bundlephobia.com/result?p=node-static@0.7.11
38 KB https://bundlephobia.com/result?p=static-server@2.2.1
15 KB https://bundlephobia.com/result?p=sirv@1.0.11

thats almost 40x larger than sirv : D

[2021-05-10 14:56] abecks opened #83 "servePrefix does not work when using proxy"
Node v14.12.0

Running with:
`light-server -s build/client -p 8080 -x http://localhost:3000 --servePrefix /assets --open`

Static files are not accessible under localhost:8080/file.js nor the expected localhost:8080/assets/file.js

Seems like it is still trying to proxy:
[code]

It does work as expected without the proxy:

`light-server -s build/client -p 8080 --servePrefix /assets --open`

`GET /

[2021-05-15 20:49] 3nuc commented on #70
I had this problem but I fixed it.

1. Open browser devtools Network tab and make sure that the request to `index.html`:
![image](https://user-images.githubusercontent.com/5359825/118377525-48d07700-b5bd-11eb-9b3b-c905e43a27b0.png)
has the header Content-Type and make sure it contains  "text/html":
![image](https://user-images.githubusercontent.com/5359825/118377570-8df4a900-b5bd-11eb-9152-4d76527

[2021-05-21 07:30] acro5piano commented on #80
I think this is because the reload feature

[2021-05-27 06:44] keosu opened #86 "can't trigger breakpoint in devtool"
I am looking for a server that support wasm mime, It seems that light-server works.
but when I add breakpoint to js code in devtool and reload the page,  it can't stop the js.